* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

#root {
    padding: 16px;
    font-size: 26px;
}

button {
    outline: none;
    border: none;
    background: #ccc;
    padding: 6px 12px;
}

button:active {
    background: #aaa;
}

.file-list {
    margin-bottom: 100px;
}

.file-list-item {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 10px;
}

.download-list-item {
    display: flex;
    align-items: center;
    gap: 24px;
}

.download-list-item > span:nth-child(1) {
    width: 500px;
}

.download-list-item > span:nth-child(2) {
    width: 200px;
}

.download-list-item > span:nth-child(3) {
    width: 200px;
}
